[Unit]
Description=DeepCardioSim backend
After=network.target

[Service]
Type=forking
WorkingDirectory=/path/to/DeepCardioSim/backend
ExecStart=bash /path/to/DeepCardioSim/backend/run_servers.sh
#ExecStart=/path/to/DeepCardioSim/.venv/bin/gunicorn main:app --preload -k uvicorn.workers.UvicornH11Worker --timeout 300
ExecStop=bash /path/to/DeepCardioSim/backend/stop_servers.sh
# Ensure you update path to .venv/bin as well as where uv installed itself (typically your /home/{username})
Environment="PATH=/path/to/DeepCardioSim/.venv/bin:/home/username/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
# Add external reverse proxies to this list if needed
Environment="FORWARDED_ALLOW_IPS=127.0.0.1"

[Install]
WantedBy=multi-user.target
